@import url('/assets/vendor/normalize-css/normalize.css');
body {
  background: #111;
  color: #fff;
}
h1 {
  text-align: center;
}
img {
  max-width: 75%;
  display: block;
  border-radius: 5%;
  margin: 0 auto;
  box-shadow: 0 5px 10px #000;
}
img + img {
  margin-top: 5%;
}
